body{
    background-color: rgb(245, 249, 170);
}

.header{
    display: flex;
}
.header img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
    margin: 25px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.name{
    color: rgb(0, 0, 0);
    margin: 25px;
    font-weight: bolder;
}
.des{
    color: rgb(0, 0, 0);
    margin: 25px;
}
.bio{
    color: rgb(0, 0, 0);
    margin: 25px;
}